#project {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 75px);
  padding-top: 75px;
  background: #ffffff;

  .project_inwrap {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  h2 {
    font-size: 2.5rem;
    font-family: "Montserrat-Bold";
  }

  .more {
    display: block;
    margin: 5px 0 10px 0;
    color: #bbbbbb;
    text-align: right;

    &:hover {
      color: #000000;
    }
  }

  .contents_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      position: relative;
      width: calc(33.33% - 20px);
      height: auto;
      margin-bottom: 30px;
      border: 2px solid #eee;
      box-sizing: border-box;

      &:nth-child(n + 4) {
        margin-bottom: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .text_wrap {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.4s;

        &::before {
          content: "";
          background: #fff;
          width: 0px;
          height: 1px;
          position: absolute;
          right: 20px;
          top: 20px;
          transition: all 0.4s;
        }

        &::after {
          content: "";
          background: #fff;
          width: 1px;
          height: 0px;
          position: absolute;
          right: 20px;
          top: 20px;
          transition: all 0.4s;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.7);

          &::before {
            width: calc(100% - 40px);
          }

          &::after {
            height: calc(100% - 40px);
          }
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;

          &::before {
            content: "";
            background: #fff;
            width: 0px;
            height: 1px;
            position: absolute;
            left: 20px;
            bottom: 20px;
            transition: all 0.4s;
          }

          &::after {
            content: "";
            background: #fff;
            width: 1px;
            height: 0px;
            position: absolute;
            left: 20px;
            bottom: 20px;
            transition: all 0.4s;
          }

          &:hover {
            &::before {
              width: calc(100% - 40px);
            }

            &::after {
              height: calc(100% - 40px);
            }

            span {
              opacity: 1;
            }
          }

          span {
            color: #ffffff;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 1px;
            opacity: 0;
            transition: all 0.4s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #project {
    .contents_wrap {
      li {
        width: calc(50% - 15px);

        &:nth-child(4) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #project {
    padding-top: 50px;

    .more {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    .contents_wrap {
      justify-content: center;

      li {
        width: 400px;

        &:nth-child(4) {
          margin-bottom: 0;
        }

        &:nth-child(n + 5) {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #project {
    padding-top: 0;
  }
}
