#contact {
  background-color: #ffffff;
  height: calc(100vh - 75px);
  padding-top: 75px;

  .contact_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .info_wrap {
    background-color: pink;
    width: 100%;
    height: 555px;
    margin-bottom: 30px;
  }
}
